
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h1>Confirm Email</h1>
<hr

<div class="alert alert-warning">
    @if (TempData["message"] != null)
    {
        @TempData["message"]
    }
</div>
